footer {
	padding: 20px;
	background-color: #081e5e;
	color: #fff;
}

.footer-row {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#address p, b {
	margin: 5px;
	line-height: 1;
	margin-left: 22px;
}

li {
	text-decoration: none;
	color: #081e5e;
}

a {
	text-decoration: none;
	color: #fff;
}

h6 {
	color: #7c9dd4;
	padding: 10px;
	margin-left: 10px;
}

a:hover {
	color: #7c9dd4;
}

@media (max-width: 768px) {
	.footer-row {
		display: flex;
		flex-direction: column;
		margin: auto;
	}
}
