.App {
  background-image: linear-gradient(to left bottom, #ff0000, #ef041d, #dd122c, #ca1e36, #b6273d, #a6293c, #952b3b, #852c39, #772932, #69262b, #5b2325, #4e1f1f);
  text-align: center;
}

.App-link {
  color: #61dafb;
}
